*{
    margin: 0px;    
    padding: 0px;    
    font-size: 67.5px;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main *{
    padding: 10px;
}

main > *:nth-of-type(2){
    background-color: brown;
}

header{
    background-color: blue;
}

section{
    background-color: blue;
}

footer{
    background-color: black;
    width: 100vw;
}

header nav ul {
    text-decoration: none;
}

@media (min-width:500px) {
    *{
        font-size: 30.5px;
    }
    section{
        background-color: darkorange;
    }
    .dual{
        display: flex;
        flex-direction: row;
    }
    .dual *{
        width: 50%;
    }
}


@media (min-width: 720px) {
    section{
        background-color: chartreuse;
    }

    .dual{
        display: flex;
        flex-direction: row-reverse;
    }
}

