#mi-id {
    color: blue;
}

.mi-clase {
    color: aqua;
}

p {
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
}

div {
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
}