#mi-id {
    color: blue;
}

.mi-clase {
    color: aqua;
}

p {
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
}

.miclass{
    color : aquamarine
}


.miclass2{
    color : aquamarine
}

div {
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
}